@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hy2bnz');
  src:  url('../fonts/icomoon.eot?hy2bnz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hy2bnz') format('truetype'),
    url('../fonts/icomoon.woff?hy2bnz') format('woff'),
    url('../fonts/icomoon.svg?hy2bnz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "\e90e";
}
.icon-icon:before {
  content: "\e900";
}
.icon-icon2:before {
  content: "\e901";
}
.icon-icon3:before {
  content: "\e902";
}
.icon-icon4:before {
  content: "\e903";
}
.icon-icon-cart:before {
  content: "\e904";
}
.icon-iconcoffee:before {
  content: "\e905";
}
.icon-iconheart:before {
  content: "\e906";
}
.icon-iconmen:before {
  content: "\e907";
}
.icon-iconmesssage:before {
  content: "\e908";
}
.icon-icon-play:before {
  content: "\e909";
}
.icon-iconring:before {
  content: "\e90a";
}
.icon-icon-search:before {
  content: "\e90b";
}
.icon-link:before {
  content: "\e90c";
}
.icon-lupa:before {
  content: "\e90d";
}
